<button (click)="joinGlobal()">Join Global</button>
<div *ngIf="joinChatTriggered">
    <div>
        <div class="container">
            <form #globalForm="ngForm" (ngSubmit)="sendMessage()">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-2">
                        <label class="label">{{"Message"}}</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="message" [(ngModel)]="message.text" required>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit"
                            [disabled]="!globalForm.form.valid"><span>{{"Send Message"}}</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div style="align-items: center; display: flex; justify-content: center;">
                        <div class="message-container" #scrollMe>
                            <div *ngFor="let message of messages">
                                <div class="message-wrapper">
                                    <app-chat [message]="message" [username]="username"></app-chat>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>