.message-wrapper-self {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 1px 1px 1px rebeccapurple;
  margin-top: 4px;
  background-color: yellowgreen;
  width: 400px;
  float: right;
}

.message-wrapper-other {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 1px 1px 1px rebeccapurple;
  margin-top: 4px;
  background-color: skyblue;
  width: 400px;
  float: left;
}

.message-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.username {
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
}

.time {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.message-body {
  font-size: 14px;
  padding: 2px;
}
